<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}"
                style="position: relative;">
  <p style="position: absolute;top: 10px; right: 10px;">
    {{ post.created_at | date:'dd/MM/yyyy, HH:mm' }}
  </p>
  <h2 class="font-weight-bold">
    {{ post.title }}
  </h2>
  <p>
    {{ post.content }}
  </p>
  <button class="btn btn-success" (click)="like()">
    Love
  </button>
  <button class="btn btn-danger" (click)="dislike()">
    Don't love
  </button>
</li>